// Overrides - Form Elements
// -----------------------------------------------------------------------------

.form-field::before,
.form-field::after
{
    display: none;
}

.form-label
{
    font-size: 1.5rem;
    font-weight: 500;
    color: stencilColor("color-black");
    
    small
    {
        font-size: 1.1rem;
        font-weight: 700;
        text-transform: none;
        color: stencilColor("color-greyMedium");
    }
}

.form-input
{
    margin: 0;
    padding: 1.5rem 1.4rem;
    padding-right: 18px;
    height: auto;
    font-family: stencilString("body-font");
    font-size: 1.5rem;
    color: stencilColor("color-black");
    border: 3px solid stencilColor("color-black");
    border-radius: 3px;
    transition: all 0.3s ease;
    
    &:hover
    {
        background-color: rgba(stencilColor("color-sf-warmGrey"), 0.05);
    }
    
    &:focus
    {
        border-color: stencilColor("color-sf-warmGrey");
        outline: none;
    }
}

.form-increment
{
    display: inline-flex;
    align-items: center;
}

.form-input--incrementTotal
{
    padding-top: 2px;
}

.form-select
{
    margin: 0;
    padding: 1.6rem 1.4rem;
    height: auto;
    font-family: stencilString("body-font");
    font-size: 1.5rem;
    color: stencilColor("color-black");
    background: transparent url(../img/sf_form-arrow.svg) no-repeat calc(100% - 18px) center;
    border: 3px solid stencilColor("color-black");
    border-radius: 3px;
    transition: all 0.3s ease;
    
    &:hover
    {
        background-color: rgba(stencilColor("color-sf-warmGrey"), 0.05);
    }
    
    &:focus
    {
        border-color: stencilColor("color-sf-warmGrey");
        outline: none !important;
    }
}

.form-field--success .form-input, 
.form-field--error .form-input, 
.form-field--warning .form-input
{
    float: none;
}



// Overrides - Form Errors
// -----------------------------------------------------------------------------

.form-inlineMessage
{
    padding: 1rem 1.4rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.05rem;
}

.form-field--error .form-field-error, 
.form-field--error .form-inlineMessage
{
    color: white;
    background-color: stencilColor("color-error");
    border-radius: 3px;
    
    &::before,
    &::after
    {
        display: none;
    }
}



// SF - Radio Inputs
// -----------------------------------------------------------------------------

.sf-input__radio
{
    margin-bottom: 1.2rem;

    &:last-child
    {
        margin-bottom: 0;
    }

    input[type="radio"]:checked,
    input[type="radio"]:not(:checked)
    {
        position: absolute;
        left: -9999px;
    }

    input[type="radio"]:checked + label,
    input[type="radio"]:not(:checked) + label
    {
        position: relative;
        display: inline-block;
        padding-left: 3.2rem;
        cursor: pointer;
    }

    input[type="radio"]:checked + label:before,
    input[type="radio"]:not(:checked) + label:before
    {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        width: 20px;
        height: 20px;
        border: 3px solid stencilColor("color-greyLighter");
        border-radius: 100%;
        background: #fff;
        transition: border-color 0.3s ease;
    }

    input[type="radio"]:checked + label:hover,
    input[type="radio"]:not(:checked) + label:hover
    {
        &::before
        {
            border-color: stencilColor("color-sf-warmGrey");
        }
    }

    input[type="radio"]:checked + label:after,
    input[type="radio"]:not(:checked) + label:after
    {
        content: '';
        width: 20px;
        height: 20px;
        background: stencilColor("color-black");
        border-color: stencilColor("color-black");
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 100%;
        transition: all 0.2s ease;
    }

    input[type="radio"]:not(:checked) + label:after
    {
        opacity: 0;
        transform: scale(0);
    }

    input[type="radio"]:checked + label:after
    {
        opacity: 1;
        transform: scale(1);
    }
}



// SF - Checkboxes
// -----------------------------------------------------------------------------

.sf-input__checkbox
{
    position: relative;
    margin-bottom: 1.2rem;

    &:last-child
    {
        margin-bottom: 0;
    }

    input[type="checkbox"]
    {
        position: absolute;
        opacity: 0;
    }

    input[type="checkbox"] + label::after
    {
        content: none;
    }

    input[type="checkbox"]:checked + label::before
    {
        border-color: stencilColor("color-black");
        background-color: stencilColor("color-black");
    }

    input[type="checkbox"]:checked + label::after
    {
        content: '';
    }

    input[type="checkbox"]:focus + label::before
    {
        outline: none;
        border-color: stencilColor("color-black");
    }

    label
    {
        display: inline-block;
        padding-left: 3rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2;
        cursor: pointer;

        &:hover,
        &:focus
        {
            &::before
            {
                border-color: stencilColor("color-sf-warmGrey");
            }
        }

        &::before
        {
            position: absolute;
            top: 1px;
            left: 0;
            display: inline-block;
            content: '';
            height: 20px;
            width: 20px;
            border: 2px solid stencilColor("color-black");
            border-radius: 3px;
            transition: all 0.3s ease;
            outline: none;
        }

        &::after
        {
            position: absolute;
            left: 5px;
            top: 7px;
            display: inline-block;
            content: '';
            height: 5px;
            width: 10px;
            border-left: 2px solid white;
            border-bottom: 2px solid white;
            transform: rotate(-45deg);
        }
    }
}



// SF - Product View Form (overrides)
// -----------------------------------------------------------------------------

.productView-details
{
    .form-field
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        @include breakpoint("medium") {
            flex-direction: row;
            align-items: flex-start;
        }
        
        .form-label
        {
            margin-right: 2rem;
            font-family: stencilString("body-font");
            font-size: 1.2rem;
            font-weight: 300;
            letter-spacing: 0.05rem;
            text-transform: uppercase;
            color: stencilString("color-black");
            
            small
            {
                display: none;
            }
            
            @include breakpoint("medium") {
                flex: 0 0 120px;
            }
        }
        
        .sf-input__radio
        {
            .form-label
            {
                font-size: 1.5rem;
                font-weight: 500;
            }
        }
        
        .form-select
        {
            flex: 0 1 auto;
            padding: 0;
            padding-right: 18px;
            width: auto;
            height: auto;
            max-width: inherit;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.2;
            color: stencilColor("color-black");
            background: transparent url(../img/sf_form-arrow.svg) no-repeat right center;
            border: none;
        }
        
        .form-select--date + .form-select--date
        {
            margin-left: 0;
        }
        
        .form-increment
        {
            .button
            {
                border: none;
            }
        }
        
        &::before,
        &::after
        {
            display: none;
        }
    }
}



// SF - Stacked Form
// -----------------------------------------------------------------------------

.sf-stackedForm
{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .sf-stackedForm__item
    {
        margin-bottom: 1.6rem;
        width: 100%;
        
        &:last-child
        {
            margin-bottom: 0;
        }
    }
}


// SF - Search Form
// -----------------------------------------------------------------------------

.sf-searchForm
{
    display: flex;
    flex-direction: column;

    @include breakpoint("medium") {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        .button
        {
            margin-left: 1rem;
            flex: 1 1 150px;
        }
    }
}