{{#partial "page"}}

<main class="page">
    <h1 class="text__align-center text__transform-uppercase text__size-17 text__lineHeight-1">{{lang 'forbidden.page_heading'}}</h1>
    <hr class="sf-separator sf-separator__dotted sf-separator__dotted-large" />

    <section class="page-content page-content--centered">
        <p class="text__align-center text__size-4 mb__size-8">
            {{lang 'forbidden.if_you_were_signed_in'}}
            <a href="{{urls.auth.login}}">{{lang 'forbidden.sign_in'}}</a>
            {{lang 'forbidden.to_continue'}}
        </p>

        {{> components/common/search-box}}
    </section>
</main>

{{/partial}}
{{> layout/base}}
