<div class="container container__size-xs">
    <article class="sf-blogPost">
        <header class="sf-blogPost__header">
            {{#if post.thumbnail}}
                <figure class="sf-blogPost__image">
                    <img src="{{getImageSrcSet post.thumbnail 1x='800w'}}" srcset="{{getImageSrcset post.thumbnail 800w='800w' 400w='400w'}}" sizes="(max-width: 400px) 400px, 800px" alt="{{post.thumbnail.alt}}" />
                </figure>
            {{/if}}

            <h1 class="text__size-18 text__lineHeight-0 text__transform-uppercase m__bottom-none">{{post.title}}</h1>
            <time class="text__colour-greyMedium" pubdate>{{post.date_published}}</time>
        </header>

        <div class="sf-blogPost__body">
            {{{post.body}}}
        </div>
    </article>
</div>

<hr class="sf-separator sf-separator__dotted sf-separator__dotted-small" />

{{#if show_tags}}
    {{#if post.tags}}
        <ul class="sf-posts__tags sf-blankList mt__size-8">
            {{#each post.tags}}
                <li><a href="{{url}}">{{name}}</a></li>
            {{/each}}
        </ul>
    {{/if}}
{{/if}}