{{#if theme_settings.social_icon_placement_top }}
    <div class="container container__size-s">
        <div class="sf-social__followShare p__size-10">
            <div class="sf-deco__banner">
                {{lang 'social.follow_share'}}
            </div>
            {{> extract/components/common/social-links-footer}}
        </div>
    </div>
{{/if}}

{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}
{{/if}}

<footer class="footer" role="contentinfo">
    <div class="container">
        <section class="sf-footerInfo">
            <div class="sf-footerInfo__columns">
                <article class="sf-footerInfo__column">
                    <h3 class="sf-footerInfo__heading"><a href="/shop">{{lang 'common.nav.shop'}}</a></h3>
                    
                    <ul class="sf-footerInfo__links sf-blankList">
                        <li><a href="">{{lang 'common.nav.coffee'}}</a></li>
                        <li><a href="">{{lang 'common.nav.gear'}}</a></li>
                        <li><a href="">{{lang 'common.nav.gifts'}}</a></li>
                        <li><a href="">{{lang 'common.nav.tea'}}</a></li>
                        <li><a href="">{{lang 'common.nav.hot_chocolate'}}</a></li>
                        <li><a href="">{{lang 'common.nav.ask_the_prof'}}</a></li>
                    </ul>
                </article>
                
                <article class="sf-footerInfo__column">
                    <h3 class="sf-footerInfo__heading"><a href="/subscribe">{{lang 'common.nav.subscribe'}}</a></h3>
                    
                    <ul class="sf-footerInfo__links sf-blankList">
                        <li><a href="">{{lang 'common.nav.personal'}}</a></li>
                        <li><a href="">{{lang 'common.nav.gifts'}}</a></li>
                        <li><a href="">{{lang 'common.nav.office'}}</a></li>
                    </ul>
                </article>
                
                <article class="sf-footerInfo__column">
                    <h3 class="sf-footerInfo__heading"><a href="/explore">{{lang 'common.nav.explore'}}</a></h3>
                    
                    <ul class="sf-footerInfo__links sf-blankList">
                        <li><a href="">{{lang 'common.nav.behind_roastery_doors'}}</a></li>
                        <li><a href="">{{lang 'common.nav.roastery_journal'}}</a></li>
                        <li><a href="">{{lang 'common.nav.brew_guides'}}</a></li>
                        <li><a href="">{{lang 'common.nav.sustainability'}}</a></li>
                        <li><a href="">{{lang 'common.nav.where_to_drink'}}</a></li>
                        <li><a href="">{{lang 'common.nav.wholesale'}}</a></li>
                    </ul>
                </article>
            </div>
            
            <div class="sf-footerInfo__extra">
                <a href="/make-coffee-better"><svg width="268" height="268"><use xlink:href="#icon-sf_make-coffee-better-white" /></svg><span class="visuallyHidden">{{lang 'header.make_coffee_better'}}</span></a></a>
            </div>
        </section>

        <hr class="sf-separator sf-separator__dotted sf-separator__dotted-small sf-separator__colour-white" />
        
        <ul class="sf-footerLogos sf-blankList">
            <li><a href=""><img src="{{cdn 'assets/img/sf_logo-profit-for-purpose.svg'}}" alt="Profit for Purpose" /></a></li>
            <li><a href=""><img src="{{cdn 'assets/img/sf_logo-direct-impact.svg'}}" alt="Direct Impact" /></a></li>
            <li><a href=""><img src="{{cdn 'assets/img/sf_logo-grounds-up.svg'}}" alt="Grounds Up" /></a></li>
            <li><a href=""><img src="{{cdn 'assets/img/sf_logo-rsa.svg'}}" alt="Sustainable Restaurant Association" /></a></li>
            <li><a href=""><img src="{{cdn 'assets/img/sf_logo-soil-asc.svg'}}" alt="Soil Association" /></a></li>
        </ul>

        <hr class="sf-separator sf-separator__dotted sf-separator__dotted-small sf-separator__colour-white" />
        
        {{#if theme_settings.show_copyright_footer}}
            <div class="sf-footer__copyright">
                <div>
                    <nav class="mb__size-1">
                        <ul class="sf-blankList sf-inlineList sf-inlineList__alignment-left sf-inlineList__alignment-center_small sf-inlineList__spacing-6">
                            <li><a href="/privacy">{{lang 'common.nav.privacy'}}</a></li>
                            <li><a href="/cookies">{{lang 'common.nav.cookies'}}</a></li>
                            <li><a href="/contact">{{lang 'common.nav.contact'}}</a></li>
                        </ul>
                    </nav>
                    <p class="text__lineHeight-8">&copy; {{settings.store_name}} {{moment format="YYYY"}}</p>
                </div>
                <p class="text__lineHeight-8">Website by <a href="https://wearesuperfantastic.com">Superfantastic</a></p>
            </div>
        {{/if}}
    </div>
</footer>
