<nav class="sf-accountNavigation mb__size-12">
    <ul class="sf-accountNavigation__links sf-blankList">
        {{#if account_page '===' 'orders'}}
            {{#if page_type '===' 'account_order'}}
                <li class="sf-accountNavigation__links-item is-active">
                    <a href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a>
                </li>
            {{else}}
                <li class="sf-accountNavigation__links-item is-active">{{lang 'account.nav.orders'}}</li>
            {{/if}}
        {{else}}
            <li class="sf-accountNavigation__links-item">
                <a href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a>
            </li>
        {{/if}}
        {{#if settings.returns_enabled}}
            {{#if account_page '===' 'returns'}}
                <li class="sf-accountNavigation__links-item is-active">{{lang 'account.nav.returns'}}</li>
            {{else}}
                <li class="sf-accountNavigation__links-item">
                    <a href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a>
                </li>
            {{/if}}
        {{/if}}
        {{#if account_page '===' 'messages'}}
            <li class="sf-accountNavigation__links-item is-active">{{lang 'account.nav.messages' num_new_messages=customer.num_new_messages}}</li>
        {{else}}
            <li class="sf-accountNavigation__links-item">
                <a href="{{urls.account.inbox}}">{{lang 'account.nav.messages' num_new_messages=customer.num_new_messages}}</a>
            </li>
        {{/if}}
        {{#if account_page '===' 'addresses'}}
            <li class="sf-accountNavigation__links-item is-active">{{lang 'account.nav.addresses'}}</li>
        {{else}}
            <li class="sf-accountNavigation__links-item">
                <a href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</a>
            </li>
        {{/if}}
        {{#if settings.show_payment_methods}}
            {{#if account_page '===' 'payment_methods'}}
                <li class="sf-accountNavigation__links-item is-active">{{lang 'account.nav.payment_methods'}}</li>
            {{else}}
                <li class="sf-accountNavigation__links-item">
                    <a href="{{urls.account.payment_methods.all}}">{{lang 'account.nav.payment_methods'}}</a>
                </li>
            {{/if}}
        {{/if}}
        {{#if settings.show_wishlist}}
            {{#if account_page '===' 'wishlists'}}
                <li class="sf-accountNavigation__links-item is-active">{{lang 'account.nav.wishlists' num_wishlists=customer.num_wishlists}}</li>
            {{else}}
                <li class="sf-accountNavigation__links-item">
                    <a href="{{urls.account.wishlists.all}}">{{lang 'account.nav.wishlists' num_wishlists=customer.num_wishlists}}</a>
                </li>
            {{/if}}
        {{/if}}
        {{#if account_page '===' 'recent_items'}}
            <li class="sf-accountNavigation__links-item is-active">{{lang 'account.nav.recently_viewed'}}</li>
        {{else}}
            <li class="sf-accountNavigation__links-item">
                <a href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a>
            </li>
        {{/if}}
        {{#if account_page '===' 'settings'}}
            <li class="sf-accountNavigation__links-item is-active">{{lang 'account.nav.settings'}}</li>
        {{else}}
            <li class="sf-accountNavigation__links-item">
                <a href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a>
            </li>
        {{/if}}
    </ul>
</nav>
