<ul class="sf-accountOrdersList sf-blankList">
    {{#each orders}}
        <li class="sf-accountOrdersList__item">
            <div class="sf-accountProduct">

                <div class="sf-accountProduct__image">
                    <a href="{{this.details_url}}">
                        {{#if items.0.type '===' 'giftcertificate'}}
                            <img src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate" title="GiftCertificate">
                        {{else}}
                            {{> components/common/responsive-img
                                image=image
                                class="account-product-image"
                                fallback_size=../../theme_settings.productthumb_size
                                lazyload=../../theme_settings.lazyload_mode
                                default_image=../../theme_settings.default_image_product
                            }}
                        {{/if}}
                    </a>
                </div>

                <div class="sf-accountProduct__details">
                    <div class="sf-accountProduct__orderStatus"><b>{{this.status}}</b></div>

                    <h5 class="sf-accountProduct__title"><a href="{{this.details_url}}">{{lang 'account.orders.list.order_number' number=this.id}}</a></h5>
                    <p class="sf-accountProduct__description">{{lang 'account.orders.list.product_details' num_products=this.items.length cost=this.total.formatted}}</p>

                    <div class="sf-accountProduct__dates">
                        <div class="sf-accountProduct__dates-item">
                            <h6 class="sf-accountProduct__dates-title">{{lang 'account.orders.order_placed' }}</h6>
                            <span>{{this.date}}</span>
                        </div>
                        <div class="sf-accountProduct__dates-item">
                            <h6 class="sf-accountProduct__dates-title">{{lang 'account.orders.last_update' }}</h6>
                            <span>{{this.last_update_date}}</span>
                        </div>
                    </div>
                    
                    {{#if ../settings.returns_enabled}}
                        {{#if this.return_url}}
                            <a href="{{this.return_url}}">{{lang 'account.orders.return_items' }}</a>
                        {{/if}}
                    {{/if}}
                </div>

            </div>
        </li>
    {{/each}}
</ul>
