// Overrides
// -----------------------------------------------------------------------------

.tabs
{
    border-bottom: 1px solid stencilColor("color-greyLight");
}

.tab-title,
.tab.is-active .tab-title
{
    font-size: 1.4rem;
    font-weight: 500;
}

.tab.is-active
{
    border: 1px solid stencilColor("color-greyLight");
    border-bottom: 1px solid white;
}