{{#partial "page"}}

<header>
    <hgroup>
        <h1 class="text__align-center text__transform-uppercase text__size-17 text__lineHeight-1 m__bottom-none">{{lang 'account.breadcrumb'}}</h1>
        {{#if forms.wishlist.id}}
            <h2 class="text__align-center text__transform-uppercase text__size-11 text__lineHeight-1 m__top-none">{{lang 'account.wishlists.edit'}}</h2>
        {{else}}
            <h2 class="text__align-center text__transform-uppercase text__size-11 text__lineHeight-1 m__top-none">{{lang 'account.wishlists.new'}}</h2>
        {{/if}}
    </hgroup>
</header>
<hr class="sf-separator sf-separator__dotted sf-separator__dotted-large" />

<div class="account">
    {{#if settings.show_wishlist}}
        {{> components/account/navigation account_page='wishlists'}}
        {{> components/account/add-wishlist}}
    {{/if}}
</div>

{{/partial}}
{{> layout/base}}
