{{#partial "page"}}

<div class="account">
    
    <header>
        <hgroup>
            <h1 class="text__align-center text__transform-uppercase text__size-17 text__lineHeight-1 m__bottom-none">{{lang 'account.breadcrumb'}}</h1>
            <h2 class="text__align-center text__transform-uppercase text__size-11 text__lineHeight-1 m__top-none">{{lang 'account.wishlists.view_heading' name=wishlist.name}}</h2>
        </hgroup>
    </header>
    <hr class="sf-separator sf-separator__dotted sf-separator__dotted-large" />
    
    {{#if wishlist.is_editable}}
        {{> components/account/navigation account_page='wishlists'}}
    {{/if}}

    {{#if wishlist.is_editable}}
        {{#if wishlist.is_public '>' 0}}
            <div class="panel share-wishlist">
                <div class="panel-body">
                    <h5>{{lang 'account.wishlists.share_intro'}}</h5>
                    <input class="form-input" value="{{settings.base_url}}{{wishlist.share_url}}" readonly>
                </div>
            </div>
        {{/if}}
    {{/if}}
    
    {{#if wishlist.items}}
        {{> components/account/wishlist-item-list show_remove=wishlist.is_editable}}
    {{else}}
        {{> components/common/alert/alert-info (lang 'account.wishlists.empty_wishlist')}}
    {{/if}}

</div>

{{/partial}}
{{> layout/base}}
