<div class="modal-header">
    <h1 class="modal-header-title">
        {{lang 'cart.added_to_cart.what_next' num_products=cart.quantity}}
    </h1>
</div>

<div class="modal-body">

    <div class="sf-previewCart">

        <section class="sf-previewCartCheckout">
            {{#if cart.show_primary_checkout_button}}
                <a href="{{urls.checkout.single_address}}" class="button button--primary button--small button--fullWidth">
                    {{lang 'cart.added_to_cart.proceed_to_checkout'}}
                </a>
            {{/if}}

            <div class="previewCartCheckout-additionalCheckoutButtons">
                {{#each cart.additional_checkout_buttons}}
                    {{{this}}}
                {{/each}}
            </div>

            {{#if cart.show_multiple_address_shipping}}
                <div class="previewCartAction-checkoutMultiple">
                    <a href="{{urls.checkout.multiple_address}}">
                        {{lang 'cart.preview.checkout_multiple'}}
                    </a>
                </div>
            {{/if}}

            <div class="previewCartCheckout-subtotal">
                {{lang 'cart.added_to_cart.order_subtotal'}}

                <strong class="previewCartCheckout-price">
                    {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                        {{cart.sub_total.formatted}}
                    {{else}}
                        {{> components/common/login-for-pricing}}
                    {{/or}}
                </strong>
            </div>

            <p data-cart-quantity="{{cart.quantity}}">
                {{lang 'cart.added_to_cart.your_cart_contains' num_products=cart.quantity}}
            </p>
            
            <div><a href="#" class="button button--primary button--small button--fullWidth" role="button" data-reveal-close>{{lang 'cart.added_to_cart.continue_shopping'}}</a></div>
            <a href="{{urls.cart}}" class="button button--small button--fullWidth">{{lang 'cart.added_to_cart.view_or_edit_cart'}}</a>
        </section>
        
        <section class="sf-productView">
            {{#with cart.added_item}}
                <figure class="productView-image">
                    <img src="{{getImage image 'product_size'}}" alt="{{image.alt}}" />
                </figure>

                <div class="productView-details productView-product">
                    <div class="sf-productView__titleWrapper">
                        <h1 class="productView-title">{{name}}</h1>
                        {{#if brand.name}}
                            <h2 class="productView-brand">
                                <a href="{{brand.url}}"><span>{{brand.name}}</span></a>
                            </h2>
                        {{/if}}
                    </div>
                    
                    <div class="productView-price">
                        {{#or ../customer (if ../theme_settings.restrict_to_login '!==' true)}}
                            {{quantity}} &times; {{price.formatted}}
                        {{else}}
                            {{> components/common/login-for-pricing}}
                        {{/or}}
                    </div>
                    
                    <hr class="m__size-5 sf-separator__dotted sf-separator__dotted-small" />
                    
                    <div class="sf-product-info_container">
                        <dl class="sf-product-info">
                            {{#each options}}
                                <div class="m__size-3 m__top-none">
                                    <dt class="sf-product-info-name">{{name}}:</dt>
                                    <dd class="sf-product-info-value text__letterSpacing-2">{{{ sanitize value}}}</dd>
                                </div>
                            {{/each}}
                        </dl>
                    </div>
                </div>
            {{/with}}
        </section>
        
    </div>
    
    {{#if cart.suggested_products}}
        <section class="suggestiveCart">
            <h2>
                {{lang 'cart.added_to_cart.you_might_also_like'}}&hellip;
            </h2>

            <ul class="productGrid">
                {{#each cart.suggested_products}}
                    <li class="product">
                        {{> components/products/card settings=../settings hide_product_quick_view=true theme_settings=../theme_settings}}
                    </li>
                {{/each}}
            </ul>
        </section>
    {{/if}}
    
</div>
