// Overrides
// -----------------------------------------------------------------------------

.panel--address .panel-body
{
    flex: 1 1 auto;
    margin: 0;
    padding: 1.5rem;
    border: 3px solid stencilColor("color-greyMedium");
    background: transparent;
}

.panel--address .form-actions
{
    position: static;
}

.panel--address .address-title
{
    font-family: stencilString('body-font');
    font-size: 2rem;
    font-weight: 700;
}

.address-details
{
    font-size: 1.6rem;
}



// SF - Address List
// -----------------------------------------------------------------------------

.sf-addressList
{
    display: grid;
    grid-gap: 2rem;

    @include breakpoint("small") {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @include breakpoint("medium") {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }

    .sf-address
    {
        display: flex;
        align-items: stretch;
        width: 100%;
        
        .panel--address
        {
            display: flex;
            align-items: stretch;
            width: 100%;
            height: 100%;
        }
    }
}