{{#partial "page"}}
    <h1 class="text__align-center text__transform-uppercase text__size-17 text__lineHeight-1">{{lang 'reset_password.heading' }}</h1>
    <hr class="sf-separator sf-separator__dotted sf-separator__dotted-large" />
    
    <div class="account account--fixedSmall">
        <p>{{lang 'reset_password.intro' }}</p>
        {{#if forms.forgot_password.error}}
            {{> components/common/alert/alert-error forms.forgot_password.error}}
        {{/if}}
        <form action="{{urls.auth.send_password_email}}" class="form forgot-password-form sf-stackedForm" method="post">
            {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
            
            <div class="sf-stackedForm__item">
                <label class="form-label" for="email">{{lang 'common.email_address'}}</label>    
                <input class="form-input" name="email" id="email" type="email" formnovalidate>
            </div>
            
            <div class="sf-stackedForm__item">
                <input type="submit" class="button button--primary" value="{{lang 'reset_password.heading' }}">
            </div>
        </form>
    </div>
{{/partial}}
{{> layout/base}}
