// =============================================================================
// THEME FOCUS (global)
// =============================================================================

$outline-width:  1px;
$outline-style:  solid;
$outline-color:  #2E8FFF;
$outline-offset: 0px;

input,
button,
textarea,
select,
details,
[href],
[tabindex]:not([tabindex="-1"]),
[contenteditable="true"] {        
    &:focus {
        outline: $outline-width $outline-style $outline-color !important;
        outline-offset: $outline-offset !important;        
    }
}

label {
    input:focus + & {
        outline: $outline-width $outline-style $outline-color !important;
        outline-offset: $outline-offset !important;        
    }
}

[tabindex]:not([tabindex="-1"]),
[contenteditable="true"]
{
    &:focus {
        outline: none !important;      
    }
}