// Overrides
// -----------------------------------------------------------------------------

.pagination-item--previous,
.pagination-item--next
{
    .sf-pagination__link
    {
        line-height: 1.9;
    }
}

.pagination-item--current
{
    .sf-pagination__link,
    .sf-pagination__link:hover
    {
        color: stencilColor("color-black");
        background-color: white;
    }
}



// SF - Pagination
// -----------------------------------------------------------------------------

.sf-pagination
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    li
    {
        margin: 0 2rem;
        
        &:first-child
        {
            margin-left: 0;
        }
        
        &:last-child
        {
            margin-right: 0;
        }

        &.pagination-item--current
        {
            .sf-pagination__link:hover
            {
                border-color: stencilColor("color-black");
            }
        }
    }
}

.sf-pagination__link
{
    display: block;
    width: 60px;
    height: 60px;
    font-family: stencilString("headings-font");
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    line-height: 2.1;
    color: white;
    background-color: stencilColor("color-black");
    border: 4px solid stencilColor("color-black");
    border-radius: 3px;
    transition: all 0.3s ease;
    box-shadow: 7px 7px 0px 0px rgba(stencilColor("color-black"), 0.15);
    
    &:hover
    {
        color: white;
        border-color: stencilColor("color-sf-warmGrey");
        background-color: stencilColor("color-sf-warmGrey");
    }
    
    .icon
    {
        margin: 0;
        width: 38px;
        height: 20px;
    }
}



// SF - Pagination Small
// -----------------------------------------------------------------------------

.sf-paginationSmall
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

    .sf-paginationSmall__previous,
    .sf-paginationSmall__next
    {
        flex: 0 0 auto;
    }

    .sf-paginationSmall__status
    {
        margin: 0 auto;
        font-size: 1.2rem;
    }
    
    .button
    {
        margin: 0;

        .icon
        {
            position: relative;
            top: -2px;
            height: 12px;
            width: 12px;
        }
    }
}