<div class="productView" {{#if settings.data_tag_enabled}} data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}" data-product-category="{{#each product.category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{product.brand.name}}" data-product-price="{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{else}}{{product.price.without_tax.value}}{{/if}}" data-product-variant="single-product-option"{{/if}}>
    
    {{#each product.reviews.messages}}
        {{#if error}}
            {{> components/common/alert/alert-error error}}
        {{/if}}
        {{#if success}}
            {{> components/common/alert/alert-success success}}
        {{/if}}
    {{/each}}
    
    <div class="sf-grid__product {{#unless hero}} m__top-none m__size-12 {{/unless}}">

        <div class="sf-grid__product-left {{#if hero}} sf-offset {{/if}}">
            <section class="sf-product__images sf-js__imageSlider">
                {{#if hero}}
                    {{#each product.images}}
                        {{#unless @first}}
                            {{#unless @last}}
                                <div><img src="{{getImage this 'product_size'}}" alt="{{this.alt}}" /></div>
                            {{/unless}}
                        {{/unless}}
                    {{/each}}
                {{else}}
                    {{#each product.images}}
                        <div><img src="{{getImage this 'product_size'}}" alt="{{this.alt}}" /></div>
                    {{/each}}
                {{/if}}
            </section>
            
            <!-- <section class="productView-images" data-image-gallery>
                {{!--
                    Note that these image sizes are coupled to image sizes used in /assets/js/theme/common/product-details.js
                    for variant/rule image replacement
                --}}
                <figure class="productView-image"
                        data-image-gallery-main
                        {{#if product.main_image}}
                        data-zoom-image="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size }}"
                        {{/if}}
                        >
                    <div class="productView-img-container">
                        {{!-- Remove the surrounding a-element if there is no main image. --}}
                        {{#if product.main_image}}
                            <a href="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size}}"
                                target="_blank"{{#if schema}} itemprop="image"{{/if}}>
                        {{/if}}
                        {{> components/common/responsive-img
                            image=product.main_image
                            class="productView-image--default"
                            fallback_size=theme_settings.product_size
                            lazyload=theme_settings.lazyload_mode
                            default_image=theme_settings.default_image_product
                            otherAttributes="data-main-image"
                        }}
                        {{!-- Remove the surrounding a-element if there is no main image. --}}
                        {{#if product.main_image}}
                            </a>
                        {{/if}}
                    </div>
                </figure>
                <ul class="productView-thumbnails"{{#gt product.images.length 5}} data-slick='{
                        "infinite": false,
                        "mobileFirst": true,
                        "slidesToShow": 5,
                        "slidesToScroll": 1
                    }'{{/gt}}>
                    {{#each product.images}}
                        <li class="productView-thumbnail">
                            <a
                                class="productView-thumbnail-link"
                                href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                                data-image-gallery-item
                                data-image-gallery-new-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.product_size}}"
                                data-image-gallery-new-image-srcset="{{getImageSrcset this use_default_sizes=true}}"
                                data-image-gallery-zoom-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                            >
                            {{> components/common/responsive-img
                                image=this
                                fallback_size=../theme_settings.productview_thumb_size
                                lazyload=../theme_settings.lazyload_mode
                            }}
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </section> -->
            
            <!-- In the cup -->
            {{#if theme_settings.show_custom_fields_tabs '!==' true}}
                {{#each product.custom_fields}}
                    {{#if name '==' 'IN THE CUP'}}
                        <h3 class="m__size-1 mt__size-12 font__museoSlab font__weight-300 text__align-center text__transform-uppercase text__size-1 text__lineHeight-1">{{name}}</h3>
                        <p class="font__bebas text__align-center text__transform-uppercase text__size-7 text__letterSpacing-2">{{{ sanitize value}}}</p>
                        
                        <hr class="sf-separator sf-separator__dotted sf-separator__dotted-large" />
                    {{/if}}
                {{/each}}
            {{/if}}
            
            <!-- Other custom fields -->
            {{#if theme_settings.show_custom_fields_tabs '!==' true}}
                <div class="sf-product-info_container">
                    <dl class="sf-product-info">
                        {{#each product.custom_fields}}
                            {{#unless name '==' 'IN THE CUP'}}
                                <div class="m__size-3 m__top-none">
                                    <dt class="sf-product-info-name">{{name}}:</dt>
                                    <dd class="sf-product-info-value text__letterSpacing-2">{{{ sanitize value}}}</dd>
                                </div>
                            {{/unless}}
                        {{/each}}
                    </dl>
                </div>
                
                <hr class="sf-separator sf-separator__line sf-separator__line-large" />
            {{/if}}
            
            {{#if product.description}}
                <article class="productView-description"{{#if schema}} itemprop="description"{{/if}}>
                    {{#if theme_settings.show_product_details_tabs}}
                        {{> components/products/description-tabs}}
                    {{else}}
                        {{> components/products/description}}
                    {{/if}}
                </article>
            {{/if}}
        </div>
        
        <div class="sf-grid__product-right">
            <div class="sf-grid__product-sticky">
                <section class="productView-details product-data">
                    <div class="productView-product">
                        <!-- Name -->
                        <div class="sf-productView__titleWrapper">
                            <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
                            {{#if product.brand}}
                                <h2 class="productView-brand"{{#if schema}} itemprop="brand" itemscope itemtype="http://schema.org/Brand"{{/if}}>
                                    <a href="{{product.brand.url}}"{{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>{{product.brand.name}}</span></a>
                                </h2>
                            {{/if}}
                        </div>
                        
                        <!-- Price -->
                        {{#if product.call_for_price}}
                            <p class="productView-price">
                                <span>{{product.call_for_price}}</span>
                            </p>
                        {{/if}}
                        
                        <div class="productView-price">
                            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                                {{> components/products/price price=product.price schema_org=schema}}
                            {{else}}
                                {{> components/common/login-for-pricing}}
                            {{/or}}
                        </div>
                        
                        <hr class="m__size-5 sf-separator__dotted sf-separator__dotted-small" />
                        
                        {{{region name="product_below_price"}}}
                        
                        <!-- Product Details -->
                        {{product.detail_messages}}
                        
                        <div class="sf-product-info_container">
                            <dl class="sf-product-info">
                                {{#if product.sku}}
                                    <div class="m__size-3 m__top-none">
                                        <dt class="sf-product-info-name sku-label">{{lang 'products.sku'}}</dt>
                                        <dd class="sf-product-info-value" data-product-sku{{#if schema}} itemprop="sku"{{/if}}>{{product.sku}}</dd>
                                    </div>
                                {{/if}}
                                {{#if product.upc}}
                                    <div class="m__size-3 m__top-none">
                                        <dt class="sf-product-info-name upc-label">{{lang 'products.upc'}}</dt>
                                        <dd class="sf-product-info-value" data-product-upc>{{product.upc}}</dd>
                                    </div>
                                {{/if}}
                                {{#if product.condition}}
                                    <div class="m__size-3 m__top-none">
                                        <dt class="sf-product-info-name">{{lang 'products.condition'}}</dt>
                                        <dd class="sf-product-info-value">{{product.condition}}</dd>
                                    </div>
                                {{/if}}
                                {{#if product.availability}}
                                    <div class="m__size-3 m__top-none">
                                        <dt class="sf-product-info-name">{{lang 'products.availability'}}</dt>
                                        <dd class="sf-product-info-value">{{product.availability}}</dd>
                                    </div>
                                {{/if}}
                                {{#all product.weight theme_settings.show_product_weight}}
                                    <div class="m__size-3 m__top-none">
                                        <dt class="sf-product-info-name">{{lang 'products.weight'}}</dt>
                                        <dd class="sf-product-info-value" data-product-weight>{{product.weight}}</dd>
                                    </div>
                                {{/all}}
                                {{#all product.width product.height product.depth theme_settings.show_product_dimensions}}
                                    <div class="m__size-3 m__top-none">
                                        <dt class="sf-product-info-name">{{lang 'products.width'}}</dt>
                                        <dd class="sf-product-info-value" data-product-width>
                                            {{product.width}}
                                            {{#if settings.measurements.length '==' 'Centimeters'}}
                                            ({{lang 'products.measurement.metric'}})
                                            {{else}}
                                            ({{lang 'products.measurement.imperial'}})
                                            {{/if}}
                                        </dd>
                                    </div>
                                    <div class="m__size-3 m__top-none">
                                        <dt class="sf-product-info-name">{{lang 'products.height'}}</dt>
                                        <dd class="sf-product-info-value" data-product-height>
                                            {{product.height}}
                                            {{#if settings.measurements.length '==' 'Centimeters'}}
                                            ({{lang 'products.measurement.metric'}})
                                            {{else}}
                                            ({{lang 'products.measurement.imperial'}})
                                            {{/if}}
                                        </dd>
                                    </div>
                                    <div class="m__size-3 m__top-none">
                                        <dt class="sf-product-info-name">{{lang 'products.depth'}}</dt>
                                        <dd class="sf-product-info-value" data-product-depth>
                                            {{product.depth}}
                                            {{#if settings.measurements.length '==' 'Centimeters'}}
                                            ({{lang 'products.measurement.metric'}})
                                            {{else}}
                                            ({{lang 'products.measurement.imperial'}})
                                            {{/if}}
                                        </dd>
                                    </div>
                                {{/all}}
                                {{#if product.min_purchase_quantity}}
                                    <div class="m__size-3 m__top-none">
                                        <dt class="sf-product-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
                                        <dd class="sf-product-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                                    </div>
                                {{/if}}
                                {{#if product.max_purchase_quantity}}
                                    <div class="m__size-3 m__top-none">
                                        <dt class="sf-product-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
                                        <dd class="sf-product-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                                    </div>
                                {{/if}}
                                {{#if product.gift_wrapping_available}}
                                    <div class="m__size-3 m__top-none">
                                        <dt class="sf-product-info-name">{{lang 'products.gift_wrapping'}}</dt>
                                        <dd class="sf-product-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                                    </div>
                                {{/if}}
                                
                                {{#if product.shipping}}
                                    {{#if product.shipping.calculated}}
                                        <div class="m__size-3 m__top-none">
                                            <dt class="sf-product-info-name">{{lang 'products.shipping'}}</dt>
                                            <dd class="sf-product-info-value">{{lang 'products.shipping_calculated'}}</dd>
                                        </div>
                                    {{else}}
                                        {{#if product.shipping.price.value '===' 0}}
                                            <div class="m__size-3 m__top-none">
                                                <dt class="sf-product-info-name">{{lang 'products.shipping'}}</dt>
                                                <dd class="sf-product-info-value">{{lang 'products.shipping_free'}}</dd>
                                            </div>
                                        {{else}}
                                            <div class="m__size-3 m__top-none">
                                                <dt class="sf-product-info-name">{{lang 'products.shipping'}}</dt>
                                                <dd class="sf-product-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                                            </div>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                                
                                {{#if settings.bulk_discount_enabled}}
                                    {{#if product.bulk_discount_rates.length}}
                                        <div class="productView-info-bulkPricing m__size-3 m__top-none">
                                            {{> components/products/bulk-discount-rates bulk_discount_rates=product.bulk_discount_rates}}
                                        </div>
                                    {{/if}}
                                {{/if}}
                            </dl>
                        </div>
                        
                        {{#if schema}}
                            {{#if product.mpn}}<meta itemprop="mpn" content="{{product.mpn}}" />{{/if}}
                            {{#if product.gtin}}<meta itemprop="gtin" content="{{product.gtin}}" />{{/if}}
                        {{/if}}
                    </div>
                </section>
                
                <hr class="m__size-5 sf-separator__dotted sf-separator__dotted-small" />
                
                <section class="productView-details">
                    <div class="productView-options">
                        
                        {{#if product.release_date }}
                            <p>{{product.release_date}}</p>
                        {{/if}}
                        
                        {{#each product.options}}
                            {{#if this.display_name '==' 'How often'}}
                                <div class="sf-subscriptionOptions-show mb__size-6">
                                    <div class="sf-input__checkbox">
                                        <input id="chk_is_subscription" name="chk_is_subscription" type="checkbox" value="true" class="sf-js__subscriptionOptions" />
                                        <label for="chk_is_subscription">{{lang 'products.subscribe_prompt'}}</label>
                                    </div>
                                </div>
                            {{/if}}
                        {{/each}}
                        
                        <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data" data-cart-item-add>
                            <input type="hidden" name="action" value="add">
                            <input type="hidden" name="product_id" value="{{product.id}}"/>
                            <div data-product-option-change style="display:none;">
                                {{#each product.options}}
                                    {{{dynamicComponent 'components/products/options'}}}
                                {{/each}}
                            </div>
                            <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                                <label class="form-label form-label--alternate">
                                    {{lang 'products.current_stock'}}
                                    <span data-product-stock>{{product.stock_level}}</span>
                                </label>
                            </div>
                            {{#if product.can_purchase}}
                                {{> components/products/add-to-cart}}
                            {{/if}}
                            {{#if product.out_of_stock}}
                                {{#if product.out_of_stock_message}}
                                    {{> components/common/alert/alert-error product.out_of_stock_message}}
                                {{else}}
                                    {{> components/common/alert/alert-error (lang 'products.sold_out')}}
                                {{/if}}
                            {{/if}}
                        </form>
                        
                        {{#if settings.show_wishlist}}
                            {{> components/common/wishlist-dropdown}}
                        {{/if}}
                        
                    </div>
                </section>

                <!-- Ratings -->
                <div class="productView-rating"{{#if product.num_reviews '>' 0}}{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}{{/if}}>
                    {{#if settings.show_product_rating}}
                        
                        {{#if product.num_reviews '>' 0}}
                            {{#if schema}}
                                <meta itemprop="ratingValue" content="{{product.rating}}">
                                <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                                <meta itemprop="reviewCount" content="{{product.num_reviews}}">
                            {{/if}}
                        {{/if}}
                        
                        <span class="sf-productView__stars" title="{{lang 'products.reviews.rating_aria_label' current_rating=product.rating max_rating=5}}" tabindex="0">
                            {{> components/products/ratings rating=product.rating}}
                        </span>
                        
                        {{#if product.num_reviews '>' 0}}
                            <a href="{{product.url}}#product-reviews" class=" ">
                                {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                            </a>
                        {{else}}
                            <span>{{lang 'products.reviews.link_to_review' total=product.num_reviews}}</span>
                        {{/if}}
                        
                    {{/if}}
                    {{#if settings.show_product_reviews}}
                        <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
                           class="productView-reviewLink productView-reviewLink--new"
                           {{#unless is_ajax}}data-reveal-id="modal-review-form"{{/unless}}
                           role="button"
                        >
                           {{lang 'products.reviews.new'}}
                        </a>
                        {{> components/products/modals/writeReview}}
                    {{/if}}
                </div>
            </div>
        </div>
        
    </div>
    
    {{> components/products/tabs}}
</div>

<div id="previewModal" class="modal modal--large" data-reveal>
    {{> components/common/modal/modal-close-btn }}
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>